h1{
    position: absolute;
width: 100px;
height: 37px;
left: 450px;
top: 60px;

font-family: 'Lora';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 125.6%;

hanging-punctuation: first last;
text-transform: capitalize;

color: #000000;
}
h2{
    position: absolute;
width: 76px;
height: 28px;
left: x;
top: 60px;

font-family: 'Lora';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 125.6%;

text-transform: capitalize;

color: #000000;

}

h3{
    position: absolute;
width: 44px;
height: 30px;
left: 680px;
top: 60px;

font-family: 'Lora';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 125.6%;

hanging-punctuation: first last;
text-transform: capitalize;

color: #000000;
    
}
h4{
    position: absolute;
width: 154px;
height: 54px;
left: 37px;
top: 1px;

font-family: 'Abhaya Libre SemiBold';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 125.6%;


hanging-punctuation: first last;
text-transform: capitalize;

color: #000000;

}
.bolo{
    position: absolute;
width: 300px;
height: 300px;
left: 500px;
top: 190px;
border-radius: 10000px;
background: #D9D9D9;

}
